<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Invoices</title>
<link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body>

<div>Hello, {{ user.username }}</div>

<h1>Invoices</h1>
{{#showTable}}
<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Client</th>
      <th>Created by</th>
      <th>Created on</th>
     
    </tr>
  </thead>
  <tbody>
    {{#invoices}}
      <tr>
        <td>{{ invoiceNumber }}</td>
        <td>{{ company.name }}</td>
        <td>{{ createdBy.username }} </td>
        <td>{{ createdOn }} </td>    
       </tr>
    {{/invoices}}
  </tbody>  
</table>
{{/showTable}}
<br>
<a href="/invoices/new">New Invoice</a>
<script src="js/app.js"></script>
</body>
</html>