<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Client Billing Records</title>
<link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body>
<h1>Select Billing Record(s)</h1>
<form method="post" action="/invoices/create">
	<input type="text" name="invoiceNumber" placeholder="Invoice Number" required>
		<table>
			<thead>
				<tr>
					<th></th>
					<th>Created on</th>
					<th>Created by</th>
					<th>Description</th>
					<th>Client</th>
					<th>Fee</th>
					<th>Rate</th>
					<th>Quantity</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				{{#records}}
				<tr>
					<td>
					<input type="checkbox" value="{{ id }}" name="recordIds">
					</td>
					<td>{{ createdOn }}</td>
					<td>{{ createdBy.username }}</td>
					<td>{{ description }}</td>
					<td>{{ client.name }}</td>
					<td>${{#amount}}{{ amount }}{{/amount}}</td>
					<td>${{#rate}}{{ rate }}{{/rate}}</td>
					<td>{{#quantity}}{{ quantity }}{{/quantity}}</td>
					<td>${{ total }}</td>
				</tr>
				{{/records}}
			</tbody>
		</table>
		<br>
		<button>Create Invoice</button>
	<input type="hidden" name="{{ _csrf.parameterName }}" value="{{ _csrf.token }}">
	<input type="hidden" name="clientId" value="{{ clientId }}">
</form>

<script src="js/app.js"></script>
</body>
</html>