<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Sign-Up Page</title>
<link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body>
{{> common/_navigation }}
<h1>Sign-Up Page</h1>
<div>
	<b><i>{{ #errorMessage }}
		{{ . }}
	{{ /errorMessage }}</i></b>
</div>
<br>
<form method="post" action="/signup">
	<label for="username">Username</label>
	<br>
	<input type="text" name="username" id="username" placeholder="username" required>
	<br>
	<br>
	<label for="password">Password</label>
	<br>
	<input type="password" name="password" id="password" placeholder="password" required>
	<br>
	<input type="hidden" name="{{ _csrf.parameterName }}" value="{{ _csrf.token }}">
	<br>
	<button>Sign-Up</button>
</form>
<br>
<script src="js/app.js"></script>
</body>
</html>